<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<form method="post">
<body>
    <div>
        @RenderBody()
    </div>
</body>
</form>
</html>
