@model bookshop.Models.orders
@using Microsoft.AspNetCore.Mvc.Localization
@using System.Globalization
@inject IViewLocalizer localizer
@{
    ViewData["Title"] = "Edit";
}
@{Layout = "~/Views/Shared/_Layout1.cshtml";}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
     @if (CultureInfo.CurrentCulture.Name.StartsWith("ar"))
    {
        <link rel="stylesheet"
              href="https://cdn.rtlcss.com/bootstrap/v4.5.3/css/bootstrap.min.css"
              integrity="sha384-JvExCACAZcHNJEc7156QaHXTnQL3hQBixvj5RV5buE7vgnNEzzskDtx9NQ4p6BJe"
              crossorigin="anonymous" />
        //add your own files
        <style>
            table {
                direction: rtl;
            }
        </style>
    }

<h1>@localizer["Edit"]</h1>

<h4>@localizer["orders"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
           
           
            <div class="form-group">
                <label asp-for="quantity" class="control-label">@localizer["quantity"]</label>
                <input asp-for="quantity" class="form-control" />
                <span asp-validation-for="quantity" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="bookId" />
                <input type="hidden" asp-for="userid" />
                <input type="hidden" asp-for="orderdate" />
              
            <div class="form-group">
                <button type="submit"class="btn btn-primary" >@localizer["Save"]</button>
            </div>
        </form>
    </div>
</div>



